.home-container {
  display: flex;
}


.sidebar {
  transition: width 0.3s ease, transform 0.3s ease;
}

.sidebar.collapsed {
  transform: translateX(-60px); 
  width: 60px;
}

.layout {
  flex-shrink: 0;
}


.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 0px; 
}

.sidebar.collapsed ~ .main-content {
  margin-left: 0px;
}


.corpoGeral {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #faf1e6;
  border-radius: 10px;
  flex-wrap: wrap;
}

.text-container {
  margin-left: 20px;
}

h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 15px;
}

u {
  color: #ba9a86;
  cursor: pointer;
}

u:hover {
  text-decoration: none;
}

.img-principal {
  max-width: 230px;
  max-height: 226px;
  border-radius: 10px;
}
